version: '3.4'
services:
  mevboost.avado.dnp.dappnode.eth:
    image: 'mevboost.avado.dnp.dappnode.eth:0.0.15'
    build:
      context: ./build
      args:
        VERSION: 1.10.0
    environment:
      - NETWORK=mainnet
      - >-
        RELAYS=https://0xa1559ace749633b997cb3fdacffb890aeebdb0f5a3b6aaa7eeeaf1a38af0a8fe88b9e4b1f61f236d2e64d95733327a62@relay.ultrasound.money,https://0xac6e77dfe25ecd6110b8e780608cce0dab71fdd5ebea22a16c0205200f2f8e2e3ad3b71d3499c54ad14d6c21b41a37ae@boost-relay.flashbots.net,https://0x8c7d33605ecef85403f8b7289c8058f440cbb6bf72b055dfe2f3e2c6695b6a1ea5a9cd0eb3a7982927a463feb4c3dae2@relay.wenmerge.com
      - EXTRA_OPTS=-min-bid 0.05
